.flexContainer {
  padding-top: 50px;
  margin: 0 auto;
}

.button {
  width: 172px;
  background: rgba(104, 19, 223, 0.24);
  color: var(--text-primary);
}

.button:hover {
  background: #6813df !important;
}
